#firstdiv {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.red {
  color: rgb(198, 68, 68);
}

.bg-yellow {
  background-color: rgb(252, 252, 182);
}